* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-image: url("imagens/espaco_azul.png");
}

main {
    background-color: rgb(19, 105, 204);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.334);
}
.card{
    width: 300px;
    height: 100px;

}